body {
  background-color: #d2d2d2;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  background-color: gray;
  background: -webkit-linear-gradient(left top, gray, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, gray, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, gray, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, gray, black); /* Standard syntax */
  
  background: -webkit-linear-gradient(35deg, #2c2c2c, #2c2c2c, #2c2c2c, #494949, gray, black, black, black, #494949, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(35deg, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, #494949, gray, black, black, black, #494949, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(35deg, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, #494949, gray, black, black, black, #494949, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(35deg, #2c2c2c, #2c2c2c, #2c2c2c, #494949, gray, black, black, black, #494949, black); /* Standard syntax */
  box-shadow: 0 2px 18px black;
  z-index: 12;

}

.logo-secondary {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 600000000;
}

header nav ul {
  padding-left: 300px;
}

header nav ul li {
  display: inline-block;
  padding: 4px 0 0 0;
}

header nav ul li a {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  height: 90%;
  border-right: 1px solid black;
  box-shadow: 1px 0 rgba(255, 255, 255, 0.2);
  transition: opacity 0.2 ease;
  padding: 22px 40px;
}

header nav ul li a:hover {
  background-color: gray;
  width: 200px;
  height: 400px;
}

#wrapper {
  position: relative;
  z-index: 6;
  width: 880px;
  margin: 0 auto;
/*  height: 1000px;*/
  background-color: #eaeaea;
  padding: 40px;
  box-shadow: 4px 2px 15px rgba(0, 0, 0, 0.6);
}

.scroll-indicator {
  display: inline-block;
  padding: 20px;
  width: 15%;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 3%;
  z-index: 2;
  background-color: #2c2c2c;
  color: #34dcd2;
}

.scroll-indicator span {
  color: gray;
}

.footer-extension {
  width: 100%;
  background-color: #34dcd2;
  position: relative;
  top: -50px;
  left: 0;
  height: 50px;
  margin: 0;
  padding: 0;
  z-index: 5;
}

footer {
  width: 90%;
  position: relative;
  z-index: 5;
  background-color: #34dcd2;
  height: 200px;
  padding: 5%;
  top: -50px;
  margin: 0;
}



.example_code {
  border-left: 4px solid red;
  background-color: white;
  padding-left: 15px;
}



.code {
  background: white;
}

table.code, table.spec, table.results, table.compile, table.summary
{
    margin-left: 4em;
    border: 1px solid #000000;
    padding: 4px;
}

table.code
{
    /*background-color: #e5e5e5;*/
  background-color: white;
}

table.spec
{
    background-color: #aaddff;
}

table.results
{
    background-color: #aaeeaa;
}

table.compile
{
    background-color: #ffaaaa;
}

table.summary
{
    background-color: #ffffff;
}

div.code, div.output
{
  border-right: white 2px ridge; 
  padding-right: 10px; 
  border-top: white 2px ridge; 
  padding-left: 10px; 
  font-size: 10pt; 
  padding-bottom: 10px; 
  margin: 10px; 
  border-left: white 2px ridge; 
  padding-top: 10px; 
  border-bottom: white 2px ridge; 
  font-family: courier new; 
  background-color: white;
}

/* For code snippets */

span.Keyword,span.Linq,span.ReferenceType,span.ValueType,span.Modifier,span.Statement,
span.MethodParameter,span.Namespace,span.DataType,span.Function,span.Method,
span.Object,span.Operator,span.Property,span.SysTable,span.SysSproc,
span.GlobalVariable,span.ReservedKeyword,span.SystemFunction,span.Type,
span.PreProcessorDirective, span.Element
{
    color: #0000cc
}

span.BlockComment,span.XmlComment,span.InlineComment,span.JavaDoc
{
    color: green
}

span.String
{
    color: black
}

span.Attention
{
    font-weight: bold;
    color: red
}

span.Entity
{
    color: red
}


/********************QUICK HIGHLIGHTER TOOL 

   * http://quickhighlighter.com/
                              MY OUTER DIV FORMATTING

*************/

.code-highlight {
  position: relative;
  border-radius: 5px;
  border: 1px solid #a09f9f;
  margin-bottom: 30px;
  box-shadow: 5px 10px 50px #545454;
}

.code-caption {
  height: 18px;
  background-color: #dfdfdf;
  color: #313131;
  margin: 0;
  font-family: monospace;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -webkit-linear-gradient(#f0f0f0, #b1b0b1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f0f0f0, #b1b0b1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f0f0f0, #b1b0b1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f0f0f0, #b1b0b1);
  padding-top: 2px;
  border-bottom: 1px solid #a2a2a2;
  text-shadow: .5px .5px 2.5px white;
  font-size: 13px;
  font-weight: bold;
}


/* bottom gradient: 545454*/
.code-bottom-left {
  height: 16px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  background-color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  padding-top: 2px;
  padding-left: 4px;
  letter-spacing: .8px;
  border-top: 1px solid #7d7d7d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.code-bottom-right {
  height: 16px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  margin-top: 0;
  color: white;
  padding-top: 2px;
  padding-left: 4px;
  letter-spacing: .8px;
  border-top: 1px solid transparent;
  display: inline-block;
  position: absolute;
  bottom: -11px;
  right: 45px;
}

/* top of caption box: f0f0f0  border-bottom: 646464*/

/* top of caption box: f0f0f0  border-bottom: 646464*/


/********************QUICK HIGHLIGHTER TOOL 

   * http://quickhighlighter.com/

*************/


/**
 * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2008 Benny Baumann
 * (http://qbnz.com/highlighter/ and http://geshi.org/)
 */

/*.html4strict .de1, .html4strict .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;;white-space: nowrapcolor: #000020;}
.html4strict  {font-family:monospace;color: #006; border: 1px solid #d0d0d0; background-color: #f0f0f0;}
.html4strict a:link {color: #000060;}
.html4strict a:hover {background-color: #f0f000;}
.html4strict .imp {font-weight: bold; color: red;}
.html4strict li, .html4strict .li1 {font-weight: normal; vertical-align:top;font: normal normal 130% 'Courier New', Courier, monospace; color: #003030;}
.html4strict .li2 {font-weight: bold; vertical-align:top;font-weight: bold; color: #006060;}
.html4strict .kw2 {color: #000000; font-weight: bold;}
.html4strict .kw3 {color: #000066;}
.html4strict .es0 {color: #000099; font-weight: bold;}
.html4strict .br0 {color: #66cc66;}
.html4strict .sy0 {color: #66cc66;}
.html4strict .st0 {color: #ff0000;}
.html4strict .nu0 {color: #cc66cc;}
.html4strict .sc-1 {color: #808080; font-style: italic;}
.html4strict .sc0 {color: #00bbdd;}
.html4strict .sc1 {color: #ddbb00;}
.html4strict .sc2 {color: #009900;}
.html4strict span.xtra { display:block; }*/

/**
 * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2008 Benny Baumann
 * (http://qbnz.com/highlighter/ and http://geshi.org/)
 */
 
/*.html4strict .de1, .html4strict .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;;white-space: nowrapcolor: #000020;}*/

/* background color of the whole thing  default border: 1px solid #d0d0d0 */
/*.html4strict  {font-family:monospace;color: #006; border: none; background-color: white;}
.html4strict a:link {color: #000060; text-decoration: none;}
.html4strict a:hover {background-color: #f0f000;}
.html4strict .imp {font-weight: bold; color: red;}
*/
/* Change font size and font-family */
/*.html4strict li, .html4strict .li1 {font-weight: normal; vertical-align:top;font: normal normal 115% 'Courier New', Courier, monospace; color: #003030;}
.html4strict .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.html4strict .li2 {font-weight: bold; vertical-align:top;font-weight: bold; color: #006060;}*/

/* li's and a's */
/*.html4strict .kw2 {color: #000000; font-weight: bold; text-decoration: none;}*/

/* classes and href */
/*.html4strict .kw3 {color: #000066;}
.html4strict .es0 {color: #000099; font-weight: bold;}
.html4strict .br0 {color: #66cc66;}*/

/* = and / */
/*.html4strict .sy0 {color: #66cc66;}*/

/* "Whatever is in the quotes" */
/*.html4strict .st0 {color: #ff0000;}
.html4strict .nu0 {color: #cc66cc;}
.html4strict .sc-1 {color: #808080; font-style: italic;}
.html4strict .sc0 {color: #00bbdd;}
.html4strict .sc1 {color: #ddbb00;}
*/
/* < > */
/*.html4strict .sc2 {color: #009900;}
.html4strict span.xtra { display:block; }*/






/********************************************

      MY VERSION OF THE MONOKAI SUBLIME TEXT 2 THEME FOR HTML

********************************************/


/**
 * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2008 Benny Baumann
 * (http://qbnz.com/highlighter/ and http://geshi.org/)
 */
 
.html4strict .de1, .html4strict .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;;white-space: nowrapcolor: #000020;}
/* background color of the whole thing  default border: 1px solid #d0d0d0 */
.html4strict  {font-family:monospace;color: white; border: none; background-color: black; padding: 20px; }

.html4strict a:link {color: #000060; text-decoration: none;}
.html4strict a:hover {background-color: none;}

.html4strict .imp {font-weight: bold; color: red;}
/* Change font size and font-family */
.html4strict li, .html4strict .li1 {font-weight: normal; vertical-align:top;font: normal normal 115% 'Courier New', Courier, monospace; color: white;}
/*.html4strict li, .html4strict .li1 {font-weight: normal; vertical-align:top;font: normal normal 130% 'Average Sans', sans-serif; color: #003030;}*/
.html4strict .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.html4strict .li2 {font-weight: bold; vertical-align:top;font-weight: bold; color: #8f908a;} 

/* li's and a's */
.html4strict .kw2 {color: #f92772; font-weight: bold; text-decoration: none;}

/* classes and href */
.html4strict .kw3 {color: #9be22d;}


.html4strict .es0 {color: #000099; font-weight: bold;}
.html4strict .br0 {color: #66cc66;}

/* = and / */
.html4strict .sy0 {color: white;}

/* "Whatever is in the quotes" */
.html4strict .st0 {color: #dedb74;}

.html4strict .nu0 {color: #cc66cc;}
.html4strict .sc-1 {color: #808080; font-style: italic;}
.html4strict .sc0 {color: #00bbdd;}
.html4strict .sc1 {color: #ddbb00;}

/* < > */
.html4strict .sc2 {color: white;}

.html4strict span.xtra { display:block; }


/********************************************

      MY VERSION OF THE MONOKAI SUBLIME TEXT 2 THEME FOR CSS

********************************************/

/**
 * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2008 Benny Baumann
 * (http://qbnz.com/highlighter/ and http://geshi.org/)
 */
.css .de1, .css .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;;white-space: nowrapcolor: #000020;}

/* background color default border: 1px solid #d0d0d0*/
.css  {font-family:monospace;color: #60d9ef; border: none; background-color: black; padding: 20px; }

.css a:link {color: #000060;}
.css a:hover {background-color: #f0f000;}
.css .imp {font-weight: bold; color: red;}

/* numbers */
.css li, .css .li1 {font-weight: normal; vertical-align:top;font: normal normal 115% 'Courier New', Courier, monospace; color: #f92772;}

.css .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}

/* every 5th number and table  */
.css .li2 {font-weight: bold; vertical-align:top; font-weight: bold; color: #f92772;}

/* attributes  */
.css .kw1 {color: #60d9ef; font-weight: normal; font-style: italic;}

/* auto, white, solid etc. */
.css .kw2 {color: #60d9ef;}

.css .co1 {color: #a1a100;}
.css .co2 {color: #ff0000; font-style: italic;}

/* comments */
.css .coMULTI {color: #8f908a; font-style: italic;}
.css .es0 {color: #000099; font-weight: bold;}

/* curly braces {} */
.css .br0 {color: white;}

/* colons and semi colons : ; */
.css .sy0 {color: white;}

.css .st0 {color: #dedb74;}

/* seemingly random 0's */
.css .nu0 {color: #977bff;}

/* other numbers and id tags # */
.css .re0 {color: #977bff;}

/* classes */
.css .re1 {color: #9be22d;}
.css .re2 {color: #9be22d;}
.css .re3 {color: #977bff;}
.css span.xtra { display:block; }