body {
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Arial, sans-serif;
}

.gale {
	position: fixed;
	top: -250px;
	/*right: -75%;*/
	/*right: -1100px;*/
	right: -900px;
/*	width: 90%;
	height: 90%;*/
	width: 1800px;
	height: 1865px;
	background-image: url('../images/gray-scale-gale.png');
	/*background-size: 1158px 1200px;*/
	background-size: 1600px 1658px;
	/*background-position: 150% 0;*/
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	z-index: -1;
	overflow: hidden;
}

a, li, ul, ol {
	text-decoration: none;
	list-style-type: none;
}

a {
	color: #ae0202;
}

/*img {
	width: 100px;
	height: 100px;
}
*/
.logo a img {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 24%;
	z-index: 10;
}

.main-nav {
	position: relative;
	left: 0;
	top: 30px;
	/*background-color: red;*/
	height: 30px;
	width: 60%;
	padding: 0;
}

.main-nav ul {
	background-color: #dcdcdc;
	width: 40%;
	height: 30px;
	margin: 0;
	padding-left: 50%;
}

.main-nav ul li {
	display: inline-block;
	list-style: none;
	/*background-color: gray;*/
	height: 30px;
}

.main-nav ul li a {
	position: relative;
	top: 6px;
	height: 30px;
	padding: 10px 20px;
	/*background-color: blue;*/
	font-size: 14px;
	color: #969595;
}

.main-nav ul li a:hover {
	background-color: #34dcd2;
	color: black;
}

header {
	/*display: block;*/
	/*background-color: green;*/
	width: 100%;
	height: 100px;
	/*position: relative;*/
	/*left: 0;
	top: 0;*/
}

.social {
	position: relative;
	height: 50px;
	width: 200px;
	left: 65%;
	top: -42px;
	padding: 0;
	margin: 0;
}

.social ul li {
	display: inline-block;
	width: 20px;
	height: 20px;
}

/*.social ul li a {
*/	/*display: inline-block;*/
/*	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
}*/

.social ul li a img {
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
}

#content {
	max-width: 45%;
	margin: 0 auto;
}

.blog-post-title {
	margin-top: 20px;
	font-size: 2.25em;
	padding-right: 15%;
}

.feature {
	width: 100%;
	background: black;
	margin: 0;
	padding: 0;
}

.feature img {
	/*background: blue;*/
	width: 90%;
	height: auto;
	margin: 5% 5% 5% 5%;
	border: 0;
	padding: 0;
}

.feature-caption {
	position: relative;
	top: -10px;
	color: #34dcd2;
	margin: 0;
	padding: 0 30px 10px 5%;
}

.story {
	background: white;
	/*margin: 5%;*/
}

.inner-wrapper {
	padding: 5%;
}

.sub-headline {
	margin: 2.5% 5% 5% 0;
	padding: 0;
}

.sub-headline {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

.article-img {
		display: inline-block;
	width: 50%;
	background: black;
	margin: 0 5% 5% 0;
	padding: 0;
	float: left;
}

.article-img img {
	float: left;
	width: 90%;
	height: auto;
	margin: 5% 5% 5% 5%;
	border: 0;
	padding: 0;
}

.article-img-right {
		display: inline-block;
	width: 50%;
	background: black;
	margin: 5% 0 5% 5%;
	padding: 0;
	float: right;
}

.article-img-right img {
	float: right;
	width: 90%;
	height: auto;
	margin: 5% 5% 5% 5%;
	border: 0;
	padding: 0;
}

.left {
	float: left;
}
/*}
.img-right p {
	float: right;
}*/

.article-img-caption {
	position: relative;
	/*top: -10px;*/
	color: #34dcd2;
	margin: 0;
	padding: 0 30px 10px 5%;
	font-size: 0.8em;
}

.full-size {
	width: 95%;
	margin: 0 2.5% 40px 2.5%;
}

.one-time li {
	list-style-type: upper-roman;
}

aside {
	position: fixed;
	top: 350px;
	left: 60px;
	background-color: #dcdcdc;
	width: 18%;
	height: 500px;
}



