body {
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Arial, sans-serif;
}

.fixed-a {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: red;
	z-index: -1;
	/*opacity: .99;*/
}

.fixed-b {
	position: fixed;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
	background: gray;
	z-index: 11;
}

.fixed-c {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: gray;
	z-index: 11;
}

.fixed-d {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 100px;
	background: gray;
	z-index: 11;
}

.absolute-a {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100px;
	height: 100px;
	background: red;
	z-index: 11;
}

.absolute-b {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
	background: red;
	z-index: 12;
}

.absolute-c {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: red;
	z-index: 12;
}

.absolute-d {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 100px;
	background: red;
	z-index: 12;
}

.gale {
	position: fixed;
	top: -250px;
	/*right: -75%;*/
	/*right: -1100px;*/
	right: -900px;
/*	width: 90%;
	height: 90%;*/
	width: 1800px;
	height: 1865px;
	background-image: url('../images/gray-scale-gale.png');
	/*background-size: 1158px 1200px;*/
	background-size: 1600px 1658px;
	/*background-position: 150% 0;*/
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	z-index: -1;
	overflow: hidden;
}

a, li, ul, ol {
	text-decoration: none;
	list-style-type: none;
}

a {
	color: #ae0202;
}

/*img {
	width: 100px;
	height: 100px;
}
*/
.logo a img {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 22%;
	z-index: 10;
}

.main-nav {
	position: relative;
	left: 0;
	top: 30px;
	/*background-color: red;*/
	height: 30px;
	width: 60%;
	padding: 0;
}

.main-nav ul {
	background-color: #dcdcdc;
	width: 40%;
	height: 30px;
	margin: 0;
	padding-left: 50%;
}

.main-nav ul li {
	display: inline-block;
	list-style: none;
	/*background-color: gray;*/
	height: 30px;
}

.main-nav ul li a {
	position: relative;
	top: 6px;
	height: 30px;
	padding: 10px 20px;
	/*background-color: blue;*/
	font-size: 14px;
	text-shadow: 1px 1px 1px white;
	color: #969595;
}

.main-nav ul li a:hover {
	background-color: #34dcd2;
	color: black;
}

header {
	/*display: block;*/
	/*background-color: green;*/
	width: 100%;
	height: 100px;
	/*position: relative;*/
	/*left: 0;
	top: 0;*/
}

.social {
	position: relative;
	height: 50px;
	width: 200px;
	left: 65%;
	top: -42px;
	padding: 0;
	margin: 0;
}

.social ul li {
	display: inline-block;
	width: 20px;
	height: 20px;
}

/*.social ul li a {
*/	/*display: inline-block;*/
/*	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
}*/

.social ul li a img {
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
}

#content {
	max-width: 45%;
	margin: 0 auto;
}

.blog-post-title {
	margin-top: 20px;
	font-size: 2.25em;
	padding-right: 15%;
}

.feature {
	width: 100%;
	background: black;
	margin: 0;
	padding: 0;
}

.feature img {
	/*background: blue;*/
	width: 90%;
	height: auto;
	margin: 5% 5% 5% 5%;
	border: 0;
	padding: 0;
}

.feature-caption {
	position: relative;
	top: -10px;
	color: #34dcd2;
	margin: 0;
	padding: 0 30px 10px 5%;
}

.story {
	background: white;
	/*margin: 5%;*/
}

.inner-wrapper {
	padding: 5%;
}

.sub-headline {
	margin: 2.5% 5% 5% 0;
	padding: 0;
}

.sub-headline {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

.article-img {
		display: inline-block;
	width: 50%;
	background: black;
	margin: 0 5% 5% 0;
	padding: 0;
	float: left;
}

.article-img img {
	float: left;
	width: 90%;
	height: auto;
	margin: 5% 5% 5% 5%;
	border: 0;
	padding: 0;
}

.article-img-right {
		display: inline-block;
	width: 50%;
	background: black;
	margin: 5% 0 5% 5%;
	padding: 0;
	float: right;
}

.article-img-right img {
	float: right;
	width: 90%;
	height: auto;
	margin: 5% 5% 5% 5%;
	border: 0;
	padding: 0;
}

.left {
	float: left;
}
/*}
.img-right p {
	float: right;
}*/

.article-img-caption {
	position: relative;
	/*top: -10px;*/
	color: #34dcd2;
	margin: 0;
	padding: 0 30px 10px 5%;
	font-size: 0.8em;
}

.full-size {
	width: 95%;
	margin: 0 2.5% 40px 2.5%;
}

.one-time li {
	list-style-type: upper-roman;
}

.wire li {
	list-style-type: disc;
	padding-top: 5px;
}

aside {
	position: fixed;
	top: 350px;
	left: 60px;
	background-color: #dcdcdc;
	width: 18%;
	height: 500px;
}

.bullets li {
	list-style-type: disc;
}

.positioning-special {
	margin: 0;
	padding: 0;
	float: right;
}

.parent-static {
	margin: 10px;
	width: 150px;
	height: 100px;
	background-color: LightGray;
}

.parent-relative {
	margin: 10px;
	position: relative;
	width: 150px;
	height: 100px;
	background-color: DimGray;
}

.red {
	position: static;
	width: 50px;
	height: 50px;
	background-color: red;
}

.blue {
	position: relative;
	top: 10px;
	left: 30px;
	width: 50px;
	height: 50px;
	background-color: blue;
}

.yellow {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 50px;
	height: 50px;
	background-color: yellow;
}

.green {
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: green;
	bottom: 0;
	right: 0;
	z-index: 12;
}

.orange {
	position: relative;
	top: 10px;
	left: 30px;
	width: 50px;
	height: 50px;
	background-color: orange;
}

/********************QUICK HIGHLIGHTER TOOL 

   * http://quickhighlighter.com/
                              MY OUTER DIV FORMATTING

*************/

.code-highlight {
  position: relative;
  border-radius: 5px;
  border: 1px solid #a09f9f;
  margin-bottom: 30px;
  box-shadow: 5px 10px 50px #545454;
}

.code-caption {
  height: 18px;
  background-color: #dfdfdf;
  color: #313131;
  margin: 0;
  font-family: monospace;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -webkit-linear-gradient(#f0f0f0, #b1b0b1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f0f0f0, #b1b0b1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f0f0f0, #b1b0b1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f0f0f0, #b1b0b1);
  padding-top: 2px;
  border-bottom: 1px solid #a2a2a2;
  text-shadow: .5px .5px 2.5px white;
  font-size: 13px;
  font-weight: bold;
}


/* bottom gradient: 545454*/
.code-bottom-left {
  height: 16px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  background-color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  padding-top: 2px;
  padding-left: 4px;
  letter-spacing: .8px;
  border-top: 1px solid #7d7d7d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.code-bottom-right {
  height: 16px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  margin-top: 0;
  color: white;
  padding-top: 2px;
  padding-left: 4px;
  letter-spacing: .8px;
  border-top: 1px solid transparent;
  display: inline-block;
  position: absolute;
  bottom: -11px;
  right: 45px;
}

/********************************************

      MY VERSION OF THE MONOKAI SUBLIME TEXT 2 THEME FOR HTML

********************************************/


/**
 * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2008 Benny Baumann
 * (http://qbnz.com/highlighter/ and http://geshi.org/)
 */
 
.html4strict .de1, .html4strict .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;;white-space: nowrapcolor: #000020;}
/* background color of the whole thing  default border: 1px solid #d0d0d0 */
.html4strict  {font-family:monospace;color: white; border: none; background-color: black; padding: 20px; }

.html4strict a:link {color: #000060; text-decoration: none;}
.html4strict a:hover {background-color: none;}

.html4strict .imp {font-weight: bold; color: red;}
/* Change font size and font-family */
.html4strict li, .html4strict .li1 {font-weight: normal; vertical-align:top;font: normal normal 115% 'Courier New', Courier, monospace; color: white;}
/*.html4strict li, .html4strict .li1 {font-weight: normal; vertical-align:top;font: normal normal 130% 'Average Sans', sans-serif; color: #003030;}*/
.html4strict .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.html4strict .li2 {font-weight: bold; vertical-align:top;font-weight: bold; color: #8f908a;} 

/* li's and a's */
.html4strict .kw2 {color: #f92772; font-weight: bold; text-decoration: none;}

/* classes and href */
.html4strict .kw3 {color: #9be22d;}


.html4strict .es0 {color: #000099; font-weight: bold;}
.html4strict .br0 {color: #66cc66;}

/* = and / */
.html4strict .sy0 {color: white;}

/* "Whatever is in the quotes" */
.html4strict .st0 {color: #dedb74;}

.html4strict .nu0 {color: #cc66cc;}
.html4strict .sc-1 {color: #808080; font-style: italic;}
.html4strict .sc0 {color: #00bbdd;}
.html4strict .sc1 {color: #ddbb00;}

/* < > */
.html4strict .sc2 {color: white;}

.html4strict span.xtra { display:block; }


/********************************************

      MY VERSION OF THE MONOKAI SUBLIME TEXT 2 THEME FOR CSS

********************************************/

/**
 * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2008 Benny Baumann
 * (http://qbnz.com/highlighter/ and http://geshi.org/)
 */
.css .de1, .css .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;;white-space: nowrapcolor: #000020;}

/* background color default border: 1px solid #d0d0d0*/
.css  {font-family:monospace;color: #60d9ef; border: none; background-color: black; padding: 20px; }

.css a:link {color: #000060;}
.css a:hover {background-color: #f0f000;}
.css .imp {font-weight: bold; color: red;}

/* numbers */
.css li, .css .li1 {font-weight: normal; vertical-align:top;font: normal normal 115% 'Courier New', Courier, monospace; color: #f92772;}

.css .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}

/* every 5th number and table  */
.css .li2 {font-weight: bold; vertical-align:top; font-weight: bold; color: #f92772;}

/* attributes  */
.css .kw1 {color: #60d9ef; font-weight: normal; font-style: italic;}

/* auto, white, solid etc. */
.css .kw2 {color: #60d9ef;}

.css .co1 {color: #a1a100;}
.css .co2 {color: #ff0000; font-style: italic;}

/* comments */
.css .coMULTI {color: #8f908a; font-style: italic;}
.css .es0 {color: #000099; font-weight: bold;}

/* curly braces {} */
.css .br0 {color: white;}

/* colons and semi colons : ; */
.css .sy0 {color: white;}

.css .st0 {color: #dedb74;}

/* seemingly random 0's */
.css .nu0 {color: #977bff;}

/* other numbers and id tags # */
.css .re0 {color: #977bff;}

/* classes */
.css .re1 {color: #9be22d;}
.css .re2 {color: #9be22d;}
.css .re3 {color: #977bff;}
.css span.xtra { display:block; }


/*************************** MEDIA QUERIES


********************/

@media (max-width: 1500px) {
	#content {
	max-width: 55%;
/*	margin: 0 auto;*/
	}

	.logo a img {
		/*position: fixed;*/
		top: 10px;
		left: 10px;
		width: 18%;
		/*z-index: 10;*/
	}

	aside {
		/*position: fixed;*/
		top: 250px;
		left: 2.5%;
		/*background-color: #dcdcdc;*/
		width: 17%;
		/*height: 500px;*/
	}
}

@media (max-width: 1300px) {
	#content {
	max-width: 55%;
/*	margin: 0 auto;*/
	}

	.logo a img {
		/*position: fixed;*/
		top: 10px;
		left: 10px;
		width: 18%;
		/*z-index: 10;*/
	}

	aside {
		/*position: fixed;*/
		top: 250px;
		left: 2.5%;
		/*background-color: #dcdcdc;*/
		width: 17%;
		/*height: 500px;*/
	}
}

@media (max-width: 1200px) {
	#content {
	max-width: 75%;
/*	margin: 0 auto;*/
	margin: 0 auto 0 0;
	float: left;
	}

	.gale {
		top: -215px;
	}

	.logo a img {
		position: relative;
		top: 0;
		left: 0;
		width: 170px;
		/*z-index: 10;*/
	}

	.main-nav {
		/*position: relative;
		left: 0;
		top: 30px;
		height: 30px;
		width: 60%;
		padding: 0;*/
		position: fixed;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		z-index: 9;
	}

	.main-nav ul {
		/*background-color: #dcdcdc;
		width: 40%;
		height: 30px;
		margin: 0;
		padding-left: 50%;*/
		height: 50px;
		width: 100%;
		padding-left: 200px;
	}

	.main-nav ul li {
		/*display: inline-block;
		list-style: none;
		height: 30px;*/
	}

	.main-nav ul li a {
		/*position: relative;
		top: 6px;
		height: 30px;
		padding: 10px 20px;
		font-size: 14px;
		color: #969595;*/
		font-size: 16px;
		top: 16px;
	}

	.main-nav ul li a:hover {
		/*background-color: #34dcd2;
		color: black;*/
	}

	.social {
		display: none;
	}

	.blog-post-title {
		/*margin-top: 20px;
		font-size: 2.25em;
		padding-right: 15%;*/
		/*margin: 50px 10px 0 10%;*/
		margin-top: 50px;
		margin-left: 5%;
	}

	aside {
		position: static;
		clear: both;
		/*top: 250px;*/
		/*left: 2.5%;*/
		/*background-color: #dcdcdc;*/
		width: 75%;
		/*height: 500px;*/
	}
}

@media (max-width: 999px) {
		#content {
			max-width: 100%;
		/*	margin: 0 auto;*/
			margin: 0 0 0 0;
			float: left;
		}

		.gale {
			top: -230px;
		}

		

		aside {
			width: 100%;
		}
}

@media (max-width: 767px) {
		body {
			/*max-width: 767px;
			width: 767px;*/
		}

}
	
		}

@media (max-width: 643px) {
		body { 
			/*max-width: 360px;
			width: 360px;*/
		}
		
		.story {
			background: none;
		}
}

@media (max-width: 500px) {
	body {
		/*max-width:425px;*/
	}	
	
	.logo a img {
		width: 120px;
	}
	
	.main-nav ul {
		padding-left: 125px;
	}
	
	.main-nav ul li a {
		padding: 10px 10px 10px 10px;
		font-size: 14px;
	}
}


