/************** Note to DBC 

	According to the specifications I am to center the content.
	I believe that I have met the specification by centering the 
	#wrapper element. I will also add a media query to center it 
	and center all three of the content divs responsively when the
	browser window is smaller.

**************/

body {
	position: relative;
	background-color: #d6d6d6;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 100%;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	/*max-width: 1800px;*/
	margin: 0 auto;
	background-color: #808080;
	height: 60px;
	z-index: 10;
}

h1 {
	font-size: 2em;
}

#logo {
	width: 250px;
}

#logo-main {
	width: 250px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 11;
}

header ul {
	list-style-type: none;
	position: fixed;
	top: 6px;
	left: 200px;
}

header ul li {
	display: inline-block;
	
}

header ul li a {
	text-decoration: none;
	color: black;
	margin: 0 20px 10px 20px;
	text-shadow: .5px .5px 3.5px #d5d4d4;
}

header ul li a:hover {
	color: #34dcd2;
	text-shadow: .5px .5px 3.5px black;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	color: blue;
}

#wrapper {
	max-width: 1880px;
	margin: 0 auto;
	background-color: #d6d6d6;
	/*height: 1000px;*/
}

#content {
	position: relative;
	background: gray;
}

section {
	background-color: green;
}

article {
	width: 84%;
	margin: 0 3% 5% 3%;
	float: right;
	/*background-color: blue;*/
}

article h1 {
	margin: 0 auto;
	padding: 0;
	text-shadow: 1px 1px 2px white;
	/*background-color: yellow;*/
}

.intro, .tasks, .evernote {
	display: inline-block;
	/*position: relative;
	top: -150px;*/
	/*height: 300px;*/
	width: 27%;
	float: left;
	background-color: white;
	padding: 2%;
}

.intro h3, .tasks h3, .evernote h3 {
	font-size: 1em;
}

.intro {
	margin: 5% 3% 5% 0;	
}

.tasks {
/*	display: inline-block;
	height: 300px;
	width: 25%;*/
	margin: 5% 3% 5% 0;
/*	background-color: white;*/
}

.gmail {
	position: relative;
	width: 95%;
	margin: 0 0 5% 0;
	padding: 2.5%;
	background-color: #808080;
}

.gmail img {
	width: 94%;
	margin: 3%;
}

.gmail p {
	position: absolute;
	/*top: 0;*/
	padding-top: 12px;
	padding-right: 5%;
	left: 5%;
	bottom: 0;
	z-index: 5;
	background-color: #808080;
	text-shadow: .6px .6px 2px #d6d6d6;
}

.evernote {
	margin: 5% 0 5% 0;
/*	display: inline-block;
	height: 300px;
	width: 25%;
	margin: 120px 2% 4% 0;
	background-color: navy;*/
/*	float: left;*/
}

.test-first-and-last li:first-child {
	font-weight: bold;
}

.test-first-and-last li:last-child {
	font-style: italic;
}


.epic {
	font-style: italic;
	font-weight: bold;
}

aside {
	position: fixed;
	width: 10%;
	height: 500px;
	top: 250px;
	left: 0;
	background-color: #808080;
}

footer {
	background-color: #808080;
	height: 200px;
	clear: both;
}

footer p {
	padding-left: 10%;
	padding-top: 100px;
}